* {
  box-sizing: border-box;
  font-family: "Comfortaa";
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  display: inline;
}

.header-section {
  display: flex;
  margin: 0 auto;
  width: 1140px;
}

.logo {
  height: 100px;
  width: 126px;
  margin-top: 25px;
}

.tablet {
  min-height: 100vh;
  width: 720px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 26%;
  background: url(../img/tablet.png);
  background-size: 140%;
  animation-name: tablet-down;
  animation-duration: 2s;
}
.tablet-name {
  position: relative;
  width: 587.13px;
  height: 242.4px;
  left: 10%;
  top: 15%;
  background: #000000;
  border-radius: 13px;
  padding-top: 15px;
}
.tablet-text {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 88.5%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}
.tablet-play {
  position: relative;
  width: 248px;
  height: 70px;
  left: 10%;
  top: 25%;
}
.tablet-friends {
  position: relative;
  width: 210px;
  height: 70px;
  left: 10%;
  top: 26%;
}
.tablet-stats {
  position: relative;
  width: 378px;
  height: 70px;
  left: 10%;
  top: 27%;
}
.tablet-records {
  position: relative;
  width: 248px;
  height: 70px;
  left: 10%;
  top: 28%;
}
.tablet-button {
  background: #39FD08;
  border: 0;
  border-radius: 13px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 10px;
}
.tablet-button:hover {
  background: #39f30a;
  cursor: pointer;
}
.tablet-profile {
  width: 97px;
  height: 97px;
  top: 9%;
  left: 75%;
  background: #39FD08;
  border-radius: 13px;
  border: #39FD08 solid 8px;
  position: relative;
}
.tablet-profile:hover {
  background: #39f30a;
  cursor: pointer;
  border: #39f30a solid 8px;
}
.tablet-text-profile {
  position: relative;
  top: 10%;
  left: 69%;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  max-width: 190px;
}

.game {
  width: 360px;
  height: 262px;
  display: flex;
  align-items: flex-end;
}
.game-section {
  min-width: 100vh;
}
.game-header {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background: #D9D9D9;
}
.game-header_text {
  display: flex;
  width: 280px;
  height: 100px;
  background-color: white;
  justify-content: center;
  border-radius: 13px;
  align-items: center;
}
.game-header_font {
  font-size: 64px;
}
.game-main {
  background-color: white;
  display: flex;
  width: 1140px;
  margin: 0 auto;
  min-height: 100vh;
}
.game-play {
  width: 35px;
  height: 35px;
}
.game-play_button {
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #39FD08;
  border-radius: 100px;
  border: 10px white solid;
}
.game-play_button:hover {
  background-color: #39f30a;
}
.game-title {
  position: relative;
  bottom: 20px;
  color: white;
  font-size: 32px;
}

.snake {
  display: flex;
  background: url(../img/snake.png) no-repeat;
  background-size: 100%;
  width: 359px;
  height: 213px;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.scss.map */

/*# sourceMappingURL=main.css.map */
