@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');
*, *::before, *::after {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

/* header, footer
==================*/
.header {
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}
.header.fixed {
    position: fixed;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.footer{
    background: #fff;
    margin-top: auto;
    cursor: default;
}
.footer_inner {
    margin-left: 10px;
    margin-top: 5px;
}
.logo{
    width: 75px;
}
.nav {
    font-size: 30px;
    position: relative;
}
.nav.active {
    display: block;
}
.nav_link {
    text-decoration: none;
    color: #288034;
    opacity: .75;
    padding-left: 50px;
    display: inline;
    vertical-align: top;
}
.nav_link:hover {
    opacity: 1;
}
.nav_link:first-child {
    margin-left: 0;
}
.socLink {
    text-decoration: none;
    padding-right: 10px;
    color: #32469c;
}
.socLink:hover {
    color: #273679;
}
.defPraf {
    position: relative;
    color: #000;
}
/* nav-toggle
==================*/
.nav-toggle {
    width: 8px;
    position: absolute;
    right: 15px;
    z-index: 1;
    display: none;
    border: 0;
    background: none;
}
.nav-toggle:hover {
    background: none;
}
.nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #288034;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    color: transparent;
}
.nav-toggle.active{
    position: relative;
    left: 1px;
}
.nav-toggle.active .nav-toggle_item{
    background: none;
}
.nav-toggle.active .nav-toggle_item::before{
    transform-origin: left top;
    transform: rotate(45deg) translateX(0px);
}
.nav-toggle.active .nav-toggle_item::after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(0px);
}
.nav-toggle_item::before,
.nav-toggle_item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #288034;
    position: absolute;
    left: 0;
    z-index: 1;
}
.nav-toggle_item::before {
    top: -8px;
}
.nav-toggle_item::after {
    bottom: -8px;
}
/* content
==================*/
body {
    height: 100%;
}
.page {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    max-width: 1670px;
    margin: 0 auto;
}
/* intro
==================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    min-height: 540px;
}
.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    cursor: default;
}
.intro_title {
    font-size: 185px;
    text-align: center;
    line-height: 1;
    color: #288034;
}
.intro_subtitle {
    font-size: 50px;
    text-align: center;
    line-height: 1;
    color: #288034;
}
/* statistics
==================*/
.statistics {
    padding: 80px 0;
    background-color: #cfcfcf
}
.statistics_header {
    width: 100%;
    margin-bottom: 0 auto 40px;
    text-align: center;
}
.statistics_title{
    font-size: 40px;
}
.statistics_subtitle{ 
    font-size: 20px;
}
.statistics_content{
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
}
.statistics_content_bottom {
    margin-top: 30px;
    margin-left: 565px;
}
.stat_title {
    padding-bottom: 10px;
}
.score {
    padding-top: 15px;
}
.easterEgg {
    text-decoration: none;
    cursor:default;
    color: #fff;
}
/* games
==================*/
.games{
    margin: 80px 0;
}
.games_title {
    text-align: center;
    font-size: 40px;
}
.games_content{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.game_subtitle{
    padding-top: 10px;
}
.game_play{
    margin-top: 10px;
    border: solid 2px;
}
/* blocks
==================*/
#block {
    max-width: 200px;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
    line-height: 1;
    color: #fff;
    position: relative;
}
/* button
==================*/
button {
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: .5rem .5rem;
    text-decoration: none;
    border-radius: 50px; 
    margin-top: 5px;
}
button:hover {
    background-color: #4e4e4e;
}

/* snake
==================*/
.snake {
    width: 100%;
    background-color: #000;
    position: relative;
    top: 100px
}

/* media
==================*/
@media (max-width: 590px) {
    .logo:hover {
        margin: -1px;
    }
    .intro_subtitle{
        font-size: 40px;
    }
 }
 @media (max-width: 740px) {
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #fff;
    }
    .nav_link {
        display: block;
        margin: 0;
        padding: 5px 10px;
    }
    .nav-toggle {
        display: block;
    }
    .intro_title{
        font-size: 76px;
    }
 }
 @media (max-width: 900px) {
    .statistics_content{
        justify-content: center;
    }
    article {
        margin:10px;
        min-width: 185px;;
    }
    .statistics_title {
        font-size: 35px;
    }
    .games_content {
        justify-content: center;
    }
 }
 @media(max-width: 360px) {
    .intro_title{
        font-size: 60px;
    }
    .intro_subtitle {
        font-size: 30px;
    }
 }